.loginScreen {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(192deg, #fefeff, #1651f0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 100px;
}
